*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #fef1e6 ;
}

header{
    padding:10px 15px;
}

.nav-margin{
    display:flex;
    justify-content: flex-end;
}

.header-h{
    padding-left: 20%;
}


@media only screen and (max-width:545px){
    .header-h{
        padding-left: 0%;
        font-size: 18px;
    }
}

@media only screen and (max-width:768px){
    .header-h{
        font-size: 20px;
        padding-left:0%;
    }
}

@media only screen and (max-width:1024px){
    .header-h{
        font-size: 25px;
        padding-left:5%;
    }
}

.logo img {
    width: 100px;
    margin-right: 10px;
    border-radius: 50px;
    margin-left: 3%;
}

@media only screen and (max-width:545px){
    header.logo img {
        width: 50px;
        margin-right: 2px;
    }
}


header nav a{
    margin:0 10px;
}

.nav-link:hover{
    
    color:#00AF91;
}


 @media only screen and (max-width:545px){
    .header-h{
        padding-left: 0%;
        font-size: 18px;
    }
}

@media only screen and (max-width:768px){
    .header-h{
        font-size: 20px;
        padding-left:0%;
    }
}

@media only screen and (max-width:1024px){
    .header-h{
        font-size: 25px;
        padding-left:5%;
    }
}

/* second section */

.con1{
    margin-bottom: 5%;
    background-color: #FDE5D4 ;
    padding-bottom: 5%;
    padding-top: 3%;
}

#co1-side1{
    margin-left: 3%;
}

.con3-card{
    width:100%;
    border-color: rgb(225, 181, 99) !important;
    margin-left: 5%;
    background-color:#03c4a4 ;
}

.con3-img{
    width: 100%;
    height: 72%;
    border-radius: 5%;
}

#con1-row1{
    margin-bottom: 2%;
}

